body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: grey;
    font-size: small;
}
